@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.movie-detail {
  @include display-flex (row, center, center);
  flex: 1;
  &:first-child {
    flex: 1;
  }
  &__info {
    @include display-flex (row, center, space-around);
    border-radius: 0.75em;
    color: $text-color;
    font-size: 1.25rem;
    margin: 1em;
    padding: 0.75em;
    width: 70%;
    background-color: $card-background;
    box-shadow: $black-box-shadow
  }
  &__poster {
    border-radius: 0.75em;
    box-shadow: $black-box-shadow;
    margin: 0.5em 0;
    width: 35%;
  }
  &__details {
    @include display-flex (column, center, center);
    width: 45%;
  }
  &__title {
    font-family: $title-font;
    font-weight: 900;
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
  }
  &__release-date {
    margin: 0.5em 0;
  }
  &__average-rating {
    font-weight: 700;
  }
  &__overview {
    height: 12em;
    overflow: scroll;
    text-align: left;
    width: 100%;
  }
  &__rating-input{
    margin: 1em 0 0.5em;
  }
  &__button {
    @include button_style;
    margin: 0.5em;
    padding: 1em;
    &:hover {
      transform: none;
      background-color: darken($primary-color, 10);
    }
  }
  &__user-rating {
    @include display-flex(row nowrap, center, space-between);
  }
  &__rating-inactive {
    display: none;
  }
  &__rating-active {
    display: block;
    color: lighten($primary-color, 10);
    animation: flash-rating 2s normal;
    margin: 0;
  }
}

@keyframes flash-rating {
  0% {
    color: lighten($primary-color, 10);
  }
  50% {
    color: $accent-color;
  }
  100% {
    color: lighten($primary-color, 10);
  }
}