@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header_main-container {
	background: $background-color;
	background: $background-gradient;
	border-bottom: 0.2em solid $primary-color;
	color: $text-color;
	display: grid;
	grid-template-areas: 'welcome-text title logoff';
	grid-template-columns: 1fr 1fr 1fr;
	height: 145px;
}

.header_welcome-text {
	font-family: $main-font;
	grid-area: welcome-text;
	margin-left: 5%;
}

.header_main-link {
	@include box-shadow(0 0 0 0, 0 0 1em 0);
	align-self: center;
	border-left: .07em solid $primary-color;
	border-radius: 1em;
	border-right: .07em solid $primary-color;
	color: $text-color;
	font-family: $title-font;
	font-size: 3rem;
	font-weight: 700;
	grid-area: title;
	justify-self: center;
	padding: 0.25em 0.8em;
	text-decoration: none;
}

.header_log-button {
	@include button-style;
	grid-area: logoff;
	justify-self: end;
	margin: 2em;
	text-decoration: none;
}
