.header_main-container {
	font-family: 'Nunito', sans-serif;
	background: #0a1612;
	// height: 14vh;
	color: #ffffff;
	// display: flex;
	// flex-direction: row;
	// justify-content: space-around;
	// align-content: center;
	// padding: 0 10px;
	border-bottom: 3px solid #008F11;

	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-areas: 'welcome-text title logoff'
}

.header_welcome-text {
	grid-area: welcome-text;
	margin-left: 5%;
}

.header_main-h1 {
	grid-area: title;
	align-self: center;
	justify-self: center;
	padding: 2%;
	// margin: auto;
	font-size: 3rem;
	border-right: 3px solid #008F11;
	border-left: 3px solid #008F11;
}

.header_logoff-button {
	grid-area: logoff;
	justify-self: end;
	align-self: center;
	cursor: pointer;
	font-family: 'Nunito', sans-serif;
	font-size: 1rem;
	font-weight: 900;
	width: 30%;
	height: 30%;
	// margin-top: 30px;
	background: #008F11;
	color: #0a1612;
	border: none;
	border-radius: 4%;
}
