.movie-card {
  border-radius: 3%;
  background-color: #474747;
  width: 15%;
  padding: 2%;
  margin: 2%;
  display: grid;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0 0px 10px white;
}

.poster-img {
  width: 100%;
  height: auto;
  border-radius: 2%;
  box-shadow: 2px 2px 5px black;
}

.movie-card-title {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin: 5%;
}

.ratings-footer {
  display: grid;
  width: 100%;

}

.movie-rating {
  justify-self: end;
  padding: 1.5%;
  align-self: end;
  font-weight: 900;
  font-size: 1.2rem;
  border-top: 2px solid #008F11;
  border-bottom: 2px solid #008F11;
  border-radius: 5%;
  color: white;
}
