@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.movie-card {
  @include box-shadow(0 0 0.75em 0, 0 0 2.5em 0);
  border-radius: 1em;
  background-color: $card-background;
  width: 15em;
  padding: 1.5em;
  margin: 2em;
  display: grid;
  opacity: 80%;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
  &:hover{
    background-color: lighten($card-background, 15);
    opacity: 100%;
  }
}

.poster-img {
  width: 100%;
  height: auto;
  border-radius: 0.5em;
  box-shadow: $black-box-shadow
}

.movie-card-title {
  text-align: center;
  font-size: 1.5rem;
  color: $text-color;
  margin: 5%;
}

.ratings-footer {
  @include display-flex (row, center, center);
  width: 100%;
}

.movie-rating {
  align-self: center;
  justify-self: center;
  font-weight: 900;
  font-size: 0.9rem;
  border-top: 2px solid #008F11;
  border-bottom: 2px solid #008F11;
  border-radius: 0.5em;
  color: $text-color;
  margin: 0 0.7em;
  padding: 0.5em;
  text-align: center;
  width: 45%;
}

.user-rating {
  border-top: 2px solid $accent-color;
  border-bottom: 2px solid $accent-color;
}
