.movie-card {
  border-radius: 3%;
  border: 3px solid #A8A8A8;
  background-color: #474747;
  width: 15%;
  padding: 2%;
  margin: 2%;
  display: grid;
  font-family: 'Nunito', sans-serif;
}

.poster-img {
  width: 100%;
  height: auto;
  border-radius: 2%;
}

.movie-card-title {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin: 5%;
}

.ratings-footer {
  display: grid;
  width: 100%;

}

.movie-rating {
  justify-self: end;
  padding: 1.5%;
  align-self: end;
  font-weight: 900;
  font-size: 1.2rem;
  border-top: 2px solid #008F11;
  border-bottom: 2px solid #008F11;
  border-radius: 5%;
  color: white;
}
